<div class="wrapper cv-entry">

    <div class="cv-col-wrapper">
        <div style="margin: auto 0;">
            {% if include.logo_url %}
               <a href="{{ include.logo_url }}"><img src="{{ include.logo }}" style="max-width: 100%; height: auto;"></a>
            {% else %}
                <img src="{{ include.logo }}" style="max-width: 100%; height: auto;">
            {% endif %}
        </div> 
        <div style="margin: auto 0;">
        </div> 
        <div style="margin: auto 0;">

            {% if include.name_url %}
                <span style="font-weight: 600;"><a style="color:inherit;" href="{{ include.name_url }}">{{ include.name }}</a></span>
            {% else %}
                <span style="font-weight: 600;">{{ include.name }}</span> 
            {% endif %}
            <br>
            {% if include.loc_url %}
                <span>{{ include.title }} <a style="color:inherit;" href="{{ include.loc_url }}">{{ include.loc }}</a></span>
            {% else %}
                <span>{{ include.title }} {{ include.loc }}</span> 
            {% endif %}
        </div> 
        <div style="margin: auto 0;">
            <span>{{ include.dates }}</span>
            <br>
            <span>{{ include.city }}</span>
        </div> 
    </div>
</div>