<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Contact</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <p>Via email: {{ site.email }}</p>
        <p>or rather: {{ site.inst-email }}</p>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social-pro.html -%}
      </div>

      <div class="footer-col footer-col-3">
        {%- include social-per.html -%}
      </div>
    </div>

  </div>
</footer>
