<div class="grid-wrapper">
  {%- for post in site.posts -%}
  {% assign bg = "background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
  url('../assets/posts/" | append: post.hero_img | append: "'); 
  background-size: cover;" %}
  <a class="post-link grid-box" href="{{ post.url | relative_url }}"
  style="{{ bg }}">
    {{ post.title | escape }}
    <br>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <span class="grid-post-meta">{{ post.date | date: date_format }}</span>
  </a>
  {%- endfor -%}
</div>

