<ul class="social-media-list">

  {%- if site.letterboxd_username -%}
  <li><a href="https://letterboxd.com/{{ site.letterboxd_username| cgi_escape | escape }}">
  <img src="/assets/icons/icons-20/icon-letterboxd.png" height="20" width="20" style="margin: 6px 6px 6px 0px">
  <span class="username">via Letterboxd</span></a></li>
  {%- endif -%}

  {%- if site.spotify_username -%}
  <li><a href="https://open.spotify.com/user/{{ site.spotify_username| cgi_escape | escape }}">
  <img src="/assets/icons/icons-20/icon-spotify.png" height="20" width="20" style="margin: 6px 6px 6px 0px">
  <span class="username">via Spotify</span></a></li>
  {%- endif -%}

  {%- if site.instagram_username -%}
  <li><a href="https://www.instagram.com/{{ site.instagram_username| cgi_escape | escape }}">
  <img src="/assets/icons/icons-20/icon-instagram.png" height="20" width="20" style="margin: 6px 6px 6px 0px">
  <span class="username">via Instagram</span></a></li>
  {%- endif -%}

</ul>