<ul class="social-media-list">

  {%- if site.linkedin_username -%}
  <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}">
  <img src="/assets/icons/icon-linkedin.png" height="32" width="32">
  <span class="username">via LinkedIn</span></a></li>
  {%- endif -%}

  {%- if site.github_username -%}
  <li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
  <img src="/assets/icons/icon-github.png" height="32" width="32">
  <span class="username">via GitHub</span></a></li>
  {%- endif -%}

  {%- if site.letterboxd_username -%}
  <li><a href="https://letterboxd.com/{{ site.letterboxd_username| cgi_escape | escape }}">
  <img src="/assets/icons/icon-letterboxd.png" height="32" width="32">
  <span class="username">via Letterboxd</span></a></li>
  {%- endif -%}

  {%- if site.spotify_username -%}
  <li><a href="https://open.spotify.com/user/{{ site.spotify_username| cgi_escape | escape }}">
  <img src="/assets/icons/icon-spotify.png" height="32" width="32">
  <span class="username">via Spotify</span></a></li>
  {%- endif -%}

</ul>