@charset "utf-8";

// Define defaults for each variable.
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$spacing-unit:     30px !default;
$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;
$on-palm:          600px !default;
$on-palm-ii:      550px !default;
$on-laptop:        800px !default;

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// for cv-entry justified text
.clearfix:after { content: "\00A0"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}  
.clearfix{ display: inline-block;}  
html[xmlns] .clearfix { display: block;}  
* html .clearfix{ height: 1%;}  
.clearfix {display: block}

// so it shouldn't break markdown visibly
.cv-entry {
  margin-bottom: 1em;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 13em;
  grid-gap: 10px;
}

.post-link.grid-box {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 5px;
  padding: 0.7em;
  font-size: 150%;
}

.post-link.grid-box:hover {
  text-decoration: none;
  //-webkit-transform: scale(1.02,1.02);
  //-webkit-transition: all 0.2s ease-in-out;
}

.grid-post-meta {
  font-size: $small-font-size;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .grid-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 13em;
    grid-gap: 10px;
  }
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 40%;
  height: 0;
  margin: 10px 0;
  overflow: hidden;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.endnote-wrapper {
  display: flex;
  border-top: 1px solid $grey-color-light;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  color: $grey-color;
  @include relative-font-size(0.8);
  padding: $spacing-unit/2 0;
  margin: 0 16px;
}

.endnote {
  margin-bottom: 0;
  display: inline-block;
}

.main-pic {
  float: left;
  max-height: 300px;
  max-width: 300px;
  margin: 5px 20px 20px 0;
}

.index-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.index-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.index-col-1 {
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width:         calc(40% - (#{$spacing-unit} / 2));
}

.index-col-2 {
  width: -webkit-calc(60% - (#{$spacing-unit} / 2));
  width:         calc(60% - (#{$spacing-unit} / 2));
}

.social-media-list > li {
  height: auto;
}


@include media-query($on-palm-ii) {
  .index-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

.list-wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 10px;
}

.list-box {
  object-fit: cover;
  height: 90px;
  width: 160px;
}

.list-post-title {
  font-weight: bold;
  @include relative-font-size(1.5);
  margin-right: 10px;
}

.list-post-date {
  color: $grey-color-dark;
  font-style: italic;
  margin-right: 10px;
}

.list-post-lang {
  margin-right: 10px;
}

blockquote.list-post-excerpt {
  @include relative-font-size(1.0);
  margin-right: 10px;
}